[submodule "addons/ofxAnimatable"]
	path = addons/ofxAnimatable
	url = git@framagit.org:groolot/ofxAnimatable.git
	branch = submodule
[submodule "addons/ofxOscRouter"]
	path = addons/ofxOscRouter
	url = git@framagit.org:groolot/ofxOscRouter.git
	branch = submodule
[submodule "addons/ofxOsc"]
	path = addons/ofxOsc
	url = git@framagit.org:groolot/ofxOsc.git
