# Code::Blocks project files
#*.cbp
#*.workspace
#*.layout

# Compiled Object files
*.slo
*.lo
*.o
cscope.out
*.cscope*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries and Objects
bin/
obj/

# Locales
po/**

# Untracked docs
docs/doxygen/**

# LaTeX temporary files
*.aux
*.bbl
*.log
*.toc
*.run.xml
*-blx.bib
*.blg
*.synctex.gz
*.pdf
*~
